#edit_institute{
    display: none;
}

#edit_teacher{
    display: none;
}
#edit_student{
    display: none;
}
body{
    background-color: #f8f8f8f5;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 100px;

}
h1{
    color:#1c4f82;
}
h2{
    color:#1c4f82;
}
.institute{
    border: #1c4f82 solid 5px;
    display:block;
    border-radius: 10px;
    padding: 20px;
    width: 900px;

}
.teacher{
    border: #1c4f82 solid 5px;
    display:block;
    border-radius: 10px;
    padding: 20px;
    width: 900px;
}
.student{
    border: #1c4f82 solid 5px;
    display:block;
    border-radius: 10px;
    padding: 20px;
    width: 900px;
}
input{

    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 14px;
    font-family: "Microsoft soft";
}
button,input[type="submit"]{
    background-color: #1c4f82;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 5px;
}
th,td{
    padding: 10px 60px;

}
