#edit_institute{
    display: none;
}

#edit_teacher{
    display: none;
}
#edit_student{
    display: none;
}
body{
    background-color: whitesmoke;
    position: absolute;
    top: 200px;
    left: 0;
    right: 10px;
    bottom: 10px;
    margin: auto;
    width: 1500px;
    height: 1000px;

}
h1{
    color:#1c4f82;
}
h2{
    color:#1c4f82;
}
.institute{
    border: #1c4f82 solid 5px;
    display:block;
    border-radius: 10px;
    padding: 20px;
}
.teacher{
    border: #1c4f82 solid 5px;
    display:block;
    border-radius: 10px;
    padding: 20px;
}
.student{
    border: #1c4f82 solid 5px;
    display:block;
    border-radius: 10px;
    padding: 20px;
}
input{
    outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}
button,input[type="submit"]{
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
}
th,td{
    padding: 5px 15px;
}
